body{
  margin: 0px;
}

.proto-col-sm-6{
  width: 47%;
  display: inline-block;
  padding-right:15px;
  margin-bottom:20px;
}

.t-section{
  margin-bottom:20px;
  width: 47%;
  display: inline-block;
  vertical-align: top;
}

.t-after-first-read-more .t-section{
  display: inherit;
}

#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  margin-left: 20px;
  height: 450px;
  overflow: hidden;
}

.protograph-tooltip {
  color: black;
  font-family: Helvetica;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  width: 640px;
  line-height: 24px;
  z-index: 100;
  pointer-events: all;
  border: 1px solid #efefef;
}

.t-title{
  font-family: Helvetica;
  font-size: 20px;
  margin-bottom: 5px;
  /*font-weight: bold;*/
}

.t-image {
  width: 47%;
  margin-right: 15px;
  margin-bottom:5px;
}

.t-date-div{
  /*padding-left: 10px;*/
}

.t-date{
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 0.5px;
  line-height: 14px;
  background-color: #D80202;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}

#t-pin {
  display: none;
}

.t-pushpin {
  height: 30px;
  float: right;
  cursor: pointer;
}

.t-location{
  font-size: 12px;
  margin-bottom: 15px;
  color: #999;
  letter-spacing: 0.5px;
  line-height: 14px;
}

.t-header{
  font-size: 13px;
  /*text-transform: uppercase;*/
  color: #999;
  margin-bottom: 5px;
}

#t-further-reading{
  word-wrap: break-word;
}

hr{
  border-top: 0.5px solid #F5F5F5;
  box-shadow: 0px;
}

.t-p, .t-law{
  font-size: 14px;
  color: #333;
  line-height: 20px;
  /*margin-bottom: 20px;*/
}

.t-padup{
  margin-top: 10px;
}

.t-read-more{
  text-align: center;
  background: #fafafa;
  padding: 5px;
  border-radius: 5px;
  color: #999;
  margin-bottom:20px;
  cursor: pointer;
}

.t-after-first-read-more, .t-after-second-read-more{
  display: none;
}

.t-not-after-first-read-more, .t-not-after-second-read-more{
  display: block;
}

.t-not-after-second-read-more{
  display: inline-block;
  width: 47%;
}

.t-not-after-second-read-more .t-section{
  width: 100%;
}

.desktop-view{
  font-family: helvetica;
}

.desktop-view .container{
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.desktop-view .card{
  background: white;
  border-radius: 2px;
  border: 1px solid #efefef;
  padding: 15px 5px;
  display: inline-block;
}

.desktop-view .date{
  font-size: 12px;
  color: white;
  background: red;
  padding: 5px 7px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 15px;
}

.desktop-view .card-title{
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  padding: 5px 15px;
}

.desktop-view .card-lable{
  font-size: 10px;
  margin-bottom: 10px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.desktop-view .card-text{
  font-size: 14px;
  color: #333;
  line-height: 20px;
}

.desktop-view .first-set-info{
  display: inline-block;
  width: 50%;
  padding: 0px 15px;
  vertical-align: top;
  box-sizing: border-box;
  float: left;
}


.desktop-view .information-set{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.desktop-view .bottom-border{
  border-bottom: 1px solid #efefef;
}

.desktop-view .image-area{
  width: 100%;
  background: #efefef;
  padding: 0px 15px;
  height: 200px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 15px;
  /*display: none;*/
}

@media only screen and (max-width: 450px){
  .t-image {
    height: 165px;
  }

  .protograph-tooltip {
    width:100%;
    box-sizing: border-box;
  }

  body{
    margin: 0px;
  }
}


